*{
    margin: 0;
    padding: 0%;
}

html,body{
    width: 100%;
    height: 100%;
}
 body{
    background-color: rgb(40, 10, 10);
 }

 h1{
    text-align: center;
    font-size: large;
 }
 p{
    font-size: medium;
 }
#box5{
    display: flex;
  
  
    
}
 #box1{
    background-color: rgb(71, 71, 189);

}
#box2{
    background-color: rgb(28, 128, 98);
   
}
#box3{
    background-color: rgb(71, 71, 189);
   
}
#box4{
    background-color: rgb(28, 128, 98);
    
    
    }
#box6{
display: flex;



}